{% extends "@WebasWebas/layout.html.twig" %}

{% block content %}

    <form action="{{ path('webas_webas_create_post') }}" method="post" >
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-sm">Rasyti</button>
    </form>

{% endblock %}
