{% extends "@WebasWebas/layout.html.twig" %}

{% block content %}

    {% for comment in comments %}
        <div class="post">
            <h4>{{ comment.user }}</h4>
            <small>{{ comment.comment }} <br/> <br/> {{ comment.dateTime|date('Y-m-d H:i:s') }}</small>
        </div>
    {% endfor %}

    <form action="" method="post" >
        <fieldset>
            <legend> Komentuoti </legend>
            <label> user: </label><input type="text" name="Vardas" style="width:200px"><br>
            <label> description: </label><textarea name="Komentaras" style="height:300" ></textarea><br>
            <input type="submit" value="Atlikta">
        </fieldset>
    </form>

{% endblock %}